*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* inizio stile header*/
/* nav */
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: white;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li{
    padding: 0px 20px;
    font-size: 16px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 28px 0px;
}

.blue-btn, .btn{
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    background-color: #2761fb;
    border: none;
    cursor: pointer;
}

.blue-btn a{
    color: white;
    text-decoration: none;
}

/*jumbo*/
.jumbo{
    background-color: #bbcfe6;
    height: 760px;
    font-weight: 200;
    padding-top: 80px
}

.jumbo-container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

.jumbo h1{
    font-size: 70px;
}

.text-image-jumbo{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-top: 40px;
    margin: 0 auto;
}

.jumbo-text>*, .jumbo-text button{
    margin-bottom: 30px;
}

.jumbo-text p:last-of-type{
    margin-bottom: 80px;
}

.jumbo-text, .container-width-30{
    width: 30%;
}

.jumbo-img, .container-width-70{
    width: 70%;
}

img{
    width: 100%;
}


/* inizio stile main*/
main{
    padding-top: 120px;
    width: 1000px;
    margin: 0 auto;
}

/* checked */

.check{
    display: flex;
    padding: 60px 0px;
}

.check span:first-of-type{
    margin-right: 40px;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.circle.checked{
    border: 5px solid #3761fb;
}

.circle.not-checked{
    border: 2px solid gray;
}

/* sezione plan*/
.plan-container h2{
    font-size: 40px;
}
.card-plan-container{
    display: flex;
    justify-content: space-between;
}

.plan{
    width: 30%;
    border: 1px solid gray;
    font-size: 14px;
}

.plan>*{
    padding-left: 30px;
}

.plan div:first-child{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}

.plan i{
    padding: 0px 5px;
}

h4{
    font-size: 25px;
}

.card-plan-container .plan h4{
    padding: 30px 25px;
}

.plan .price{
    padding-bottom: 8px;
    font-weight: bold;
}

.plan .month{
    padding-bottom: 50px;
    color: gray;
}

.plan ul{
    display: block;
    padding-left: 20px;
}

.plan li{
    padding: 10px 10px;
}

.card-plan-container .blue-btn{
    width: 80%;
    font-size: 16px;
    margin: 30px 30px 0px 30px;
}

.plan .buy-now{
    padding-top: 20px;
    padding-bottom: 40px;
}

.plan hr{
    width: 20%;
    padding: 0;
    margin-left: 25px;
}

.plan h5{
    padding-top: 40px;
}

.plan .plan-list .fa-check{
    color: #2761fb;
}

.last-plan{
    margin-top: 30px;
    width: 100%;
}

.last-plan-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.plan.last-plan .last-plan-left{
    border: none;
    text-align: left;
}

.plan.last-plan .last-plan-left p{
    margin-top: 30px;
}


/*section partner*/
.partner{
    margin-top: 100px;
}

.container-width-30{
    padding: 40px 0px 0px 20px;
    font-size: 14px;
}

.container-width-30>*:not(button){
    padding-bottom: 30px;
}
.btn{
    background-color: white;
    border: 1px solid black;
}

.btn a{
    text-decoration: none;
    color: black;
}